exports = {
  hardStatuses: ['Available', 'In a Meeting', 'Unavailable', 'At Lunch'],
  /* list of teams and the people on them in your organization
  ------ YOU MUST HAVE AT LEAST ONE TEAM (is that true? Are teams that important
  that you can't just get started with the app?) */
  teams: {
    marxBros: [ 'chico', 'harpo', 'groucho', 'zeppo' ]
  }
  domain: 'example.com',
  db: {
    //database name
    databaseUrl: "whereabouts",
    // collections name
    collections: ["punks"]
  }
};

