//your domain name used for authentication
exports.domain = "marxbros.net"

//list of possible statuses
exports.hardStatuses = ['Available', 'In a Meeting', 'Unavailable', 'At Lunch']

//list of teams and the people on them in your organization YOU MUST HAVE AT LEAST ONE TEAM

exports.teams = {
  marxBros: ['chico','groucho','harpo']
}
