module.exports = {
  hardStatuses: ['Available', 'In a Meeting', 'Unavailable', 'At Lunch'],
  /* list of teams and the people on them in your organization
  ------ YOU MUST HAVE AT LEAST ONE TEAM (is that true? Are teams that important
  that you can't just get started with the app?) */
  teams: {
    marxBros: [ 'chico', 'harpo', 'groucho', 'zeppo' ]
  },
  domain: 'punkave.com',
  db: {
    //database name
    url: "whereabouts",
    // collections name
    collections: ["punks"]
  },
  auth: {
    validUser: '*@punkave.com',
    google: {
      returnURL: 'http://localhost:3000/auth/google/callback',
      realm: 'http://localhost:3000/'
    }
  }
};
